@import '../../styles/variables.scss';

.location-section {
    background-color: $black;
    color: $white;
    padding: 0 0 80px;
    text-align: $center-align;
}

.location-main-title {
    font-size: 2.8em;
    font-weight: 600;
    color: $white;
    text-align: left;
    max-width: $max-width-container;
    margin: 0 auto 60px;
    padding: 0 $padding-20;
}

.map-container {
    max-width: $max-width-container;
    margin: 0 auto 60px auto;
    padding: 0 $padding-20;

    iframe {
        width: $value-100percentage;
        display: block;
    }
}

.location-details-container {
    max-width: $max-width-container;
    margin: 0 auto;
    padding: 0 $padding-20;
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 40px;

    .location-column {
        flex: 1;
        min-width: 250px;

        .column-title {
            font-size: 1.5em;
            font-weight: 600;
            margin-bottom: 20px;
            color: $white;
            text-transform: uppercase;
            letter-spacing: 0.5px;
        }

        .column-content {
            p {
                font-size: 1em;
                color: $text-light-grey;
                line-height: 1.5;
                margin-bottom: 8px;
            }

            a {
                color: $accent-color;
                text-decoration: none;
            }

            .hours-closed {
                color: $closed-color;
                font-weight: bold;
            }
        }
    }
}

@media (max-width: 900px) {
    .location-details-container {
        flex-direction: $flex-column;
        gap: 40px;
        
        .location-column {
            min-width: $value-100percentage;
            text-align: left;
        }
    }
}

@media (max-width: 480px) {
    .location-main-title {
        font-size: 2em;
        margin-bottom: 30px;
    }
}