// Color Variables
$white: #ffffff;
$off-white: #d1d1d1;
$black: #000000;
$primary-button-bg: #fce7db;
$primary-button-hover: #e0d0c5;
$accent-color: #00c4cc;
$tagline-color: #999999;
$border-light: #252424;
$text-light-grey: #cccccc;
$closed-color: #e74c3c;
$footer-bg: #0d0d0d;
$footer-text-dark: #777777;
$dark-grey: #333333;
$card-bg: #1a1a1a;
$scrollbar-thumb: #888888;
$green-accent-end: #7ca691;
$text-dark: #666666;

// Other Variables
$dark-overlay: rgba(0, 0, 0, 0.6);
$intro-dark-overlay: rgba(0, 0, 0, 0.4);
$transition-speed: 0.3s ease;

$max-width-container: 1200px;
$padding-20: 20px;
$border-thickness: 3px;
$value-100vh: 100vh;
$value-100percentage: 100%;

$center-align: center;
$flex-column: column;


