@import '../../styles/variables.scss';

.about-section-container {
    height: $value-100vh;
    background-image: 
        linear-gradient($dark-overlay, $dark-overlay),
        url('../../assests/images/about-background-image.jpg');
    background-size: cover;
    background-position: $center-align;
    background-repeat: no-repeat;
    display: flex;
    align-items: $center-align;
    justify-content: flex-start;
    padding: 0 5%;
    position: relative;
    overflow: hidden;
}

.about-content {
    color: $white;
    text-align: left;
    z-index: 2;
    
    .about-main-title {
        font-size: 3.2em;
        font-weight: 600;
        margin-bottom: 10px;
        color: $white;
    }
    
    .about-subtitle {
        font-size: 1.2em;
        font-weight: 500;
        color: $off-white;
        margin-bottom: 25px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    .about-description {
        font-size: 1em;
        line-height: 1.6;
        margin-bottom: 40px;
        color: $off-white;
    }
}

@media (max-width: 992px) {
    .about-section-container {
        padding: 0 8%;
    }

    .about-main-title {
        font-size: 2.8em;
    }

    .about-description {
        font-size: 0.95em;
    }
}

@media (max-width: 768px) {
    .about-section-container {
        padding: 0 5%;
        height: auto;
        min-height: 80vh;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .about-content {
        max-width: $value-100percentage;
        text-align: $center-align;
    }
    
    .about-main-title {
        font-size: 2.2em;
    }
    
    .about-subtitle {
        font-size: 1.1em;
    }
    
    .about-description {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .about-main-title {
        font-size: 1.8em;
    }

    .about-subtitle {
        font-size: 1em;
    }

    .about-description {
        font-size: 0.85em;
    }
}