@import "../../styles/variables.scss";

.gallery-preview-section {
  background-color: $black;
  text-align: center;

  .section-title {
    color: $white;
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    .grid-item {
      height: 250px;
      overflow: hidden;
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.1);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  .explore-btn {
    padding: 12px 35px;
    background-color: transparent;
    color: $accent-color;
    border: 2px solid $accent-color;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s;

    &:hover {
      background-color: $accent-color;
      color: $white;
    }
  }
}

.full-page {
  padding: 160px 5% 80px;
}

.preview {
  padding: 80px 5%;
}