@import '../../styles/variables.scss';
$bar-width: 60px;
$gap-size: 10px;
$total-spacing: $bar-width + $gap-size;
$shadow-color: rgba(0, 0, 0, 0.6); 

.sticky-contact-bar-wrapper {
    position: fixed;
    top: 33%;
    transform: translateY(-50%); 
    z-index: 99999; 
    left: 0;
    width: auto; 
    display: block; 
    background-color: transparent; 
    box-shadow: none; 
    border-radius: 0; 
    overflow: visible; 

    .contact-link {
        margin-bottom: $gap-size;
        position: absolute; 
        left: 0; 
        display: flex;
        align-items: $center-align;
        justify-content: $center-align;
        width: $bar-width;
        height: $bar-width;
        background-color: $card-bg; 
        color: $white; 
        text-decoration: none; 
        box-shadow: 0 2px 5px $shadow-color; 
        border-radius: 10px; 
        transition: $transition-speed; 
        transform: scale(1);
        z-index: 1;
        
        &:nth-child(2) {
            top: $total-spacing; 
        }
        &:nth-child(3) {
            top: $total-spacing * 2;
        }
        &:nth-child(4) {
            top: $total-spacing * 3;
        }
        &:nth-child(5) {
            top: $total-spacing * 4;
        }
        &:nth-child(6) {
            top: $total-spacing * 5;
        }

        &:last-child {
            margin-bottom: 0;
        }

        border: none; 

        &:hover {
            transform: scale(1.1); 
            transform-origin: left center; 
            z-index: 10; 
            
            color: $accent-color; 
            background-color: lighten($card-bg, 5%); 
            
            &.whatsapp { color: #25D366; } 
            &.instagram { color: #C13584; } 
            &.facebook { color: #1877F2; } 
            &.email { color: #FF0000; } 
        }
    }
}

