@import '../../styles/variables.scss';

:root {
    --header-height: 110px;
}

.site-header {
    background-color: $black;
    color: $white;
    padding: 30px 0;
    border-top: 5px solid $accent-color;
    border-bottom: 1px solid $border-light;
    position: fixed;
    top: 0;
    left: 0;
    width: $value-100percentage;
    z-index: 1000;
    box-shadow: 0 4px 12px rgb(52 50 50 / 70%);

    .header-container {
        max-width: $max-width-container;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: $center-align;
        padding: 0 20px;
    }

    .logo-section {
        display: flex;
        align-items: $center-align;
        gap: 10px;
        order: 1;

        .logo-box {
            width: 45px;
            height: 45px;
        }

        .logo {
            width: $value-100percentage;
            height: $value-100percentage;
            object-fit: cover;
            display: block;
            border-radius: 50%;
        }

        .clinic-name {
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.5px;
            line-height: 1.2;
        }
    }

    .main-nav {
        order: 2;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 30px;
        }

        a {
            color: $white;
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            padding-bottom: 5px;
            position: relative;

            &.active {
                border-bottom: 2px solid $white;
            }
        }
    }
}

@media (max-width: 767px) {
    :root {
        --header-height: 120px;
    }

    .site-header {
        .header-container {
            flex-direction: $flex-column;
            align-items: flex-start;
        }

        .logo-section {
            order: 1;
            margin-bottom: 10px;
        }

        .main-nav {
            order: 2;
            width: $value-100percentage;
            display: flex;
            justify-content: $center-align;

            ul {
                gap: 15px;
            }
        }
    }
}

@media (max-width: 480px) {
    :root {
        --header-height: 125px;
    }

    .site-header {
        .header-container {
            padding: 0 15px;
        }

        .logo-section {
            .clinic-name {
                font-size: 14px;
            }
        }

        .main-nav {
            ul {
                flex-wrap: wrap;
            }

            a {
                font-size: 14px;
            }
        }
    }
}